<html>
  <style>
    html,
    body,
    .center,
    .bg {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    body {
      background-color: #37385f;
      color: #d7d7ef;
    }

    a,
    a:link,
    a:visited {
      color: #d7d7ef;
      text-decoration: none;
    }

    i {
      padding-right: 5px;
    }

    .center {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .bg {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -10;
    }
    .bg img {
      height: 400px;
      opacity: 0.1;
    }

    .back {
      padding: 12px 30px;
      border: 2px solid #d7d7ef;
      border-radius: 50px;
      margin-top: 50px;
      transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    }
    .back:hover {
      background-color: #d7d7ef;
      color: #37385f;
    }
  </style>

  <div class="bg">
    <img
      src="https://maxcdn.icons8.com/Share/icon/win10/Network//unavailable_cloud1600.png"
    />
  </div>
  <div class="center">
    <h1>503 - Service Unavailable!</h1>
    <h3>Please try again later.</h3>
    <a class="back" href="https://www.harley200317.xyz/"
      ><i class="fa fa-arrow-left"></i><span>Back</span></a
    >
  </div>
  <script src="https://use.fontawesome.com/97829db75e.js"></script>
</html>
